.div1{
    margin-top: 100px;
    margin-bottom: 100px ;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 100px;
    border: 50px;
    background-color: blue;
    color: rgb(253, 252, 252);
    text-align: center;
}
.button1{
    
}